@model Website_BanHang.Models.Roles

@{
    ViewData["Title"] = "Chỉnh sửa quyền truy cập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Chỉnh sửa quyền truy cập 😵😵😵</h3>
<div>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a>Chỉnh sửa quyền truy cập</a></li>
        </ol>
    </nav>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleCode" />
            <div class="form-group">
                <label class="control-label">Quyền truy cập: </label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mô tả: </label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
                <br />
                <input asp-action="Index" type="submit" value="Quay về danh sách" class="btn btn-secondary mb-2" style="margin-top: 6px" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
