@model Website_BanHang.Models.Customers

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<main class="main-content">
            <div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/images/breadcrumb/bg/1-1-1920x373.jpg">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-lg-12">
                            <div class="breadcrumb-item">
                                <h2 class="breadcrumb-heading">Product Related</h2>
                                <ul>
                                    <li>
                                        <a href="index.html">Home <i class="pe-7s-angle-right"></i></a>
                                    </li>
                                    <li>Login</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-lg-6 pt-10 pt-lg-0">
                            <form asp-controller="Home" asp-action="Register" method="post">
                                <div class="login-form">
                                    <h4 class="login-title">Register</h4>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Email</label>
                                            <input type="text" asp-for="Email" placeholder="First Name">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Password*</label>
                                            <input type="password" asp-for="Password" placeholder="Username">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Full name</label>
                                            <input type="text" asp-for="FullName" placeholder="Password">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Address</label>
                                            <input type="text" asp-for="Address" placeholder="Password">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Gender</label>
                                            <input type="radio" asp-for="Gender" value="false" placeholder="Nam"> Nam
                                            <input type="radio" asp-for="Gender" value="true" placeholder="Nữ"> Nữ
                                        </div>
                                        <div class="col-md-12">
                                            <label>Phone number</label>
                                            <input type="text" maxlength="10" asp-for="PhoneNumber" placeholder="Password">
                                        </div>
                                        <div class="col-md-12">
                                            <label>Image</label>
                                            <input type="text" asp-for="Image">
                                        </div>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
</main>