<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_BanHang</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_BanHang.styles.css" asp-append-version="true" />
    @using Web_BanHang.Models
    @using Microsoft.AspNetCore.Http
    @using Web_BanHang.Controllers
</head>
<body>
@{
    HomeController _controller = new HomeController();
    var u = _controller.getuser();
}
<div class="super_container">

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery-3.2.1.min.js" asp-append-version="true"></script>
    <script src="~/styles/bootstrap4/popper.js" asp-append-version="true"></script>
    <script src="~/styles/bootstrap4/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/plugins/Isotope/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js" asp-append-version="true"></script>
    <script src="~/plugins/easing/easing.js" asp-append-version="true"></script>
    <script src="~/js/custom.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</div>
</body>
</html>
